/* селектро темп */
h1 {
    color: blue;
    font-family: initial; /* викл спадковость*/
    border: inherit; /* вкл спадковость */
}

body {

    font-family:  sans-serif;
    border: 5px red solid;
    text-align: center;
}